# Your app base url
NEXT_PUBLIC_APP_URL="http://localhost:3000"

# Your postgres' database url
# example: postgresql://username:password@host:port/database
POSTGRES_URL=
POSTGRES_PRISMA_URL=
POSTGRES_URL_NON_POOLING=
POSTGRES_USER=
POSTGRES_HOST=
POSTGRES_PASSWORD=
POSTGRES_DATABASE=

# You can generate by run this command on your terminal: openssl rand -base64 32
AUTH_SECRET=

# You can get github id & secret by creating OAuth Apps from Settings > Developer Settings > OAuth Apps
# More info: https://next-auth.js.org/providers/github
GITHUB_ID=
GITHUB_SECRET=

# https://next-auth.js.org/providers/google
GOOGLE_ID=
GOOGLE_SECRET=

# https://resend.com
RESEND_API_KEY=
RESEND_DOMAIN=
EMAIL_FROM="Next Dashboard <mail@nextdashboard.my.id>"

# You can generate by run this command on your terminal: openssl rand -hex 64
JWT_SECRET=
