#postgresql://username:password@host:port/database
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/next_dashboard"
DIRECT_URL=

AUTH_SECRET=

GITHUB_ID=
GITHUB_SECRET=

GOOGLE_ID=
GOOGLE_SECRET=

RESEND_API_KEY=

JWT_SECRET=